doctype html
html
	head
		title Bino template
		meta(charset="UTF-8")
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		meta(property='og:title', content='')
		meta(property='og:description', content='')
		meta(property='og:url', content='')
		meta(property='og:type', content='website')
		meta(property='og:image', content='')
		link(rel="shortcut icon" type="image/png" href="")

	body
		include ../includes/mixins.pug
		div.wrapper
			//main content
			main.main-content
				section.section.home#home(data-aos="fade-right")
					include ../includes/top-block.pug
				section.section#about(data-aos="flip-up")
					include ../includes/benefits.pug
					include ../includes/history.pug
					include ../includes/services.pug
				section.section#portfolio(data-aos="fade-right")
					include ../includes/works.pug
					include ../includes/study.pug
					include ../includes/stats.pug
				section.section#pricing(data-aos="fade-left")
					include ../includes/price.pug
				section.section#team(data-aos="fade-right")
					include ../includes/team.pug
					include ../includes/clients.pug
				section.section#blog(data-aos="flip-up")
					include ../includes/blog.pug
				section.section#contact(data-aos="zoom-in")
					include ../includes/contact.pug
			//end main content
			include ../includes/footer.pug


