//section home styles
section {
  &.home {
    &:before {
      position: absolute;
      content: "";
      left: 50%;
      transform: translateX(-50%);
      bottom: -30px;
      width: 60px;
      height: 60px;
      background-color: #f4f5f9;
      border-radius: 50px;
      z-index: 1;
      background-image: url(../img/icons/Forma_1.png);
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.37);
    }
  }
}

//top-block styles
.top-block {
  background-color: #fff;
  min-height: 990px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  //  clip-path: polygon(
  //    0 0,
  //    100% 0,
  //    100% calc(100% - 7vw),
  //    50% 100%,
  //    0 calc(100% - 7vw)
  //  );

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: #000000;
    opacity: 0.7;
    width: 100%;
    min-height: 100%;
  }
}

//header styles
.header {
  z-index: 1;
  position: relative;
  padding-top: 40px;

  .logo {
    width: 141px;
    height: 52px;
    flex: 0 0 141px;
    margin-right: 20px;
  }

  > .page-frame {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: space-between;
  }

  &-wrapper {
    @include transition-1;
  }
}

.js-fixed-header {
  @include transition-1;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 0;
    z-index: 9999;
    @include transition-1;
  }
}

//nav styles
.nav {
  flex: 0 1 780px;
  max-width: 780px;
  font-family: $second-font-family;
  //  background-color: red;

  //  @include media("<tab") {
  //    position: fixed;
  //    left: 0;
  //    top: 0;
  //    background-color: #000;
  //    height: 100%;
  //    width: 320px;
  //    z-index: 9999;
  //  }

  &__list {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    flex-wrap: wrap;
  }

  &-list {
    //    @include media("<tab") {
    //      display: block;
    //    }

    &__item {
      margin-right: 60px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      white-space: nowrap;

      &.active {
        > a {
          color: $red;
          text-shadow: 0 0 0.65px $red, 0 0 0.65px $red;

          &:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: $red;
            @include transition-1;
          }
        }
      }

      &:hover {
        > a {
          color: $red;
          text-shadow: 0 0 0.65px $red, 0 0 0.65px $red;

          &:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: $red;
            @include transition-1;
          }
        }
      }

      a {
        color: #fff;
        padding: 22px 0;
        position: relative;
        display: inline-block;

        &:after {
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          width: 0%;
          height: 1px;
          background-color: $red;
          @include transition-1;
        }
      }
    }
  }
}

//top slider
.top-block-slider {
  z-index: 1;
  position: relative;
  margin-top: 230px;
  padding-bottom: 100px;

  &-prev,
  &-next {
    top: 30%;
  }

  &-prev {
    position: absolute;
    left: 45px;
  }

  &-next {
    position: absolute;
    right: 45px;
  }

  &-list {
    &-item {
      text-align: center;

      &__top {
        color: #f4f5f9;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 45px;
      }

      &__title {
        color: #f4f5f9;
        font-family: $second-font-family;
        font-size: 72px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 7.2px;
        padding-bottom: 48px;
        margin-bottom: 48px;

        @include media("<tab") {
          font-size: 48px;
          letter-spacing: 0;
          padding-bottom: 24px;
          margin-bottom: 24x;
        }
      }

      &__text {
        max-width: 580px;
        margin: 0 auto 70px auto;
        color: #cbc6c0;
        font-family: $second-font-family;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        line-height: 1.5;
      }

      &-buttons {
        a {
          margin-right: 30px;

          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}
