//breakpoints
$breakpoints: (
  large: 1441px,
  tab: 961px,
  mobile: 769px,
  xsmall: 481px
);

//fonts
$basic-font-family: "Source Sans Pro", sans-serif;

$second-font-family: "Open Sans", sans-serif;

//colors
$main: #999999;
$dark: #6a6a6a;
$red: #e74c3c;
$light: #f4f5f9;
$green: #638a7c;
$fir-blue: #045175;
