   @keyframes workAnimation {
   	0% {
   		transform: translateX(-100%);
   	}

   	30% {
   		transform: translateX(0);
   	}

   	50% {
   		transform: scale(0.5);
   	}

   	100% {
   		transform: scale(1);
   	}
   }


   .works {
   	padding-top: 140px;

   	@include media('<tab') {
   		padding-top: 70px;

   	}

   	&__list {
   		display: flex;
   		flex: 0 1 auto;
   		flex-wrap: wrap;
   	}

   	&-list {
   		&__item {
   			width: calc(100%/4);
   			flex: 1 1;
   			flex-wrap: wrap;
   			height: 480px;
   			background-size: cover;
   			background-repeat: no-repeat;
   			background-position: center;
   			position: relative;
   			overflow: hidden;

   			@include media('<tab') {
   				width: calc(100%/3);
   				height: 320px;
   			}

   			@include media('<mobile') {
   				width: calc(100%/2);
   				height: 320px;
   			}

   			&:hover {

   				.works-list-item-detail {
   					transform: translateX(0);
   					animation: workAnimation 1s linear;
   					opacity: 1;

   				}
   			}

   		}


   		&-item {
   			&__link {
   				position: absolute;
   				left: 0;
   				top: 0;
   				width: 100%;
   				height: 100%;
   				z-index: 1;
   			}

   			&__detail {
   				position: absolute;
   				left: 0;
   				top: 0;
   				width: 100%;
   				height: 100%;
   				background-color: rgba(231, 76, 60, 0.8);
   				@include transition-1;
   				opacity: 0;
   				box-sizing: border-box;
   				padding: 50px;
   				display: flex;
   				flex: 0 1 auto;
   				flex-direction: column;
   				justify-content: flex-end;
   				color: #fff;
   				transform: translateX(-100%);
   			}

   			&-detail {
   				&__title {
   					font-size: 24px;
   					font-weight: 400;
   					text-transform: uppercase;
   					letter-spacing: 1.2px;
   					padding-top: 30px;
   					margin-bottom: 20px;
   					position: relative;

   					&:before {
   						position: absolute;
   						content: '';
   						left: 0;
   						top: 0;
   						width: 44px;
   						height: 4px;
   						background-color: #ffffff;
   					}
   				}

   				&__category {
   					font-size: 14px;
   					font-weight: 400;
   					letter-spacing: 0.7px;
   					font-family: $second-font-family;
   				}
   			}
   		}
   	}
   }
