//benefits
.benefits
	.page-frame
		.benefits__list
			.benefits__item
				.benefits__icon(style="background-image: url('./img/icons/benefit_1.png')")
				.benefits__title.equal sleek design
				.benefits__text Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			.benefits__item
				.benefits__icon(style="background-image: url('./img/icons/benefit_2.png')")
				.benefits__title.equal clean code
				.benefits__text Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			.benefits__item
				.benefits__icon(style="background-image: url('./img/icons/benefit_3.png')")
				.benefits__title.equal creative ideas
				.benefits__text Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			.benefits__item
				.benefits__icon(style="background-image: url('./img/icons/benefit_1.png')")
				.benefits__title.equal free support
				.benefits__text Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
//end benefits
