//benefits
.benefits#homes
	.page-frame
		.benefits__list.benefits-list
			.benefits-list__item.benefits-list-item
				.benefits-list-item__icon(style="background-image: url('./img/icons/benefit_1.png')")
				.benefits-list-item__title.equal
					span sleek design
				.benefits-list-item__text
					span Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			.benefits-list__item.benefits-list-item
				.benefits-list-item__icon(style="background-image: url('./img/icons/benefit_2.png')")
				.benefits-list-item__title.equal
					span clean code
				.benefits-list-item__text
					span Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			.benefits-list__item.benefits-list-item
				.benefits-list-item__icon(style="background-image: url('./img/icons/benefit_3.png')")
				.benefits-list-item__title.equal
					span creative ideas
				.benefits-list-item__text
					span Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			.benefits-list__item.benefits-list-item
				.benefits-list-item__icon(style="background-image: url('./img/icons/benefit_4.png')")
				.benefits-list-item__title.equal
					span free support
				.benefits-list-item__text
					span Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
//end benefits
