//blog
.blog
	.page-frame
		.section-head
			h3.section-head__title.section-title-medium
				span our blog
			.section-head__text.decorate-text-border.decorate-text-border--white
				span Suspendisse sed eros mollis, tincidunt felis eget, interdum eratullam sit amet odio.
	.blog__list.blog-list
		.blog-list__inner
			.blog-list__item.blog-list-item
				.blog-list-item__inner
					.blog-list-item__image(style="background-image: url('./img/content/blog-1.jpg')")
					.blog-list-item__detail
						.blog-list-item__category
							span art / t-shirt
						.blog-list-item__title
							span t-shirt design
						.blog-list-item__text
							span Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
						a(href="" title="" alt="").blog-list-item__link
							span Read More
			.blog-list__item.blog-list-item
				.blog-list-item__inner
					.blog-list-item__image(style="background-image: url('./img/content/blog-2.jpg')")
					.blog-list-item__detail
						.blog-list-item__category
							span art / t-shirt
						.blog-list-item__title
							span t-shirt design
						.blog-list-item__text
							span Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
						a(href="" title="" alt="").blog-list-item__link
							span Read More
			.blog-list__item.blog-list-item
				.blog-list-item__inner
					.blog-list-item__image(style="background-image: url('./img/content/blog-3.jpg')")
					.blog-list-item__detail
						.blog-list-item__category
							span art / t-shirt
						.blog-list-item__title
							span t-shirt design
						.blog-list-item__text
							span Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
						a(href="" title="" alt="").blog-list-item__link
							span Read More
			.blog-list__item.blog-list-item
				.blog-list-item__inner
					.blog-list-item__image(style="background-image: url('./img/content/blog-4.jpg')")
					.blog-list-item__detail
						.blog-list-item__category
							span art / t-shirt
						.blog-list-item__title
							span t-shirt design
						.blog-list-item__text
							span Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
						a(href="" title="" alt="").blog-list-item__link
							span Read More



//end blog
