//clients
.clients
	.page-frame
		.section-head
			h3.section-head__title.section-title-medium Great Integrations with Others
			.section-head__text.decorate-text-border.decorate-text-border--white
				span Suspendisse sed eros mollis, tincidunt felis eget, interdum erat. Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec.
	.clients__list
		.page-frame
			.clients__inner
				.clients__item
					a(href="#" title="").clients__image
						img(src="./img/content/client-5.svg" alt="" title="")
				.clients__item
						a(href="#" title="").clients__image
							img(src="./img/content/client-2.svg" alt="" title="")
				.clients__item
					a(href="#" title="").clients__image
						img(src="./img/content/client-3.svg" alt="" title="")
				.clients__item
					a(href="#" title="").clients__image
						img(src="./img/content/client-4.svg" alt="" title="")
				.clients__item
					a(href="#"  title="").clients__image
						img(src="./img/content/client-5.svg" alt="" title="")
				.clients__item
					a(href="#" title="").clients__image
						img(src="./img/content/client-6.svg" alt="" title="")
				.clients__item
					a(href="#" title="").clients__image
						img(src="./img/content/client-7.svg" alt="" title="")
				.clients__item
					a(href="#"  title="").clients__image
						img(src="./img/content/client-8.svg" alt="" title="")
				.clients__item
					a(href="#" title="").clients__image
						img(src="./img/content/client-3.svg" alt="" title="")
				.clients__item
					a(href="#"  title="").clients__image
						img(src="./img/content/client-4.svg" alt="" title="")
//end clients
