//footer
footer.footer(role = "contentinfo" style="background-image: url('./img/content/footer_bg.jpg')")
	.footer__top
		.page-frame
			.footer__head
				h3.section-head__title.section-title-medium.section-title-medium--white Let's Get Started Now. <b> It's FREE!</b>
				.section-head__text 30 day free trial. Free plan allows up to 2 projects. Pay if you need more. Cancel anytime. No catches.
			.footer__button
				a(href="#" title="" ).site-button.site-button--red
					span start free trial
	.footer__bottom
		.page-frame
			.footer__social
				ul
					li
						a(href="#" title="")
							i.fa.fa-facebook
					li
						a(href="#" title="")
							i.fa.fa-twitter
					li
						a(href="#" title="")
							i.fa.fa-rss
					li
						a(href="#" title="")
							i.fa.fa-google-plus
					li
						a(href="#" title="")
							i.fa.fa-linkedin
					li
						a(href="#" title="")
							i.fa.fa-skype
					li
						a(href="#" title="")
							i.fa.fa-vimeo
					li
						a(href="#" title="")
							i.fa.fa-tumblr
			.footer__copyright Kazi Erfan © All Rights Reserved
.button-up
	i.fa.fa-angle-up
// end footer
