//popup
div.site-popup.site-popup-small.mfp-hide.white-popup#popup
	.site-popup-content
		.popup-title.center-align Заказать звонок
		.popup-form-block
			form.request-call-form(action="#" method="" name="" id="")
				.form-fields
					.form-section-field-group
						label.site-label-form-error Это обязательное поле
						input.site-input-form.error(type="email" name="email" id="email"  required placeholder="Ваш email")
					.form-section-field-group
						label.site-label-form-error
						input.site-input-form.tel-site-input(type="text" name="tel" id="tel"  required placeholder="Телефон")
					.form-section-field-group
						label.site-label-form-error
						textarea.site-textarea-form(type="text" name="comment" id="comment"  required placeholder="Ваш комментарий")
				.form-button
					button.site-button.site-button--blue.site-submit-button(type="submit")
						span Заказать звонок
				.form-personal
					.checkbox-group
						input(type="checkbox" name="personal" id="personal")
						label(for="personal")
							span Я соглашаюсь на обработку персональных данных и принимаю
								a(href="#" alt="" title="" ) политику конфиденциальности


