//price
.price
	.page-frame
		.section-head
			h3.section-head__title.section-title-medium
				span our pricing
			.section-head__text.decorate-text-border.decorate-text-border--grey
				span A 30 days free trial for all. A brief story about how this process works, keep an eye till the end.
		.price__inner
			.price__item.price-item
				.price-item__head
					.price-item__title(data-mh="price-item-title-equal")
						span starter
					.price-item__rate.price-item-rate.icon-style.icon-style--big.icon-style--white
						.price-item-rate__inner
							.price-item-rate__val
								span $19
							.price-item-rate__text
								span per month
				.price-item__body
					.price-item__services(data-mh="price-item-services-equal")
						ul
							li Competition Analysis Methods
							li All Ranked URLs
							li International Support System
							li Competition Analysis Methods
					.price-item__button
						a(href="#" alt="" title="").site-button.site-button--min.site-button--grey
							span choose plan
			.price__item.price-item
				.price-item__head
					.price-item__title(data-mh="price-item-title-equal")
						span premium
					.price-item__rate.price-item-rate.icon-style.icon-style--big.icon-style--white
						.price-item-rate__inner
							.price-item-rate__val
								span $39
							.price-item-rate__text
								span per month
				.price-item__body
					.price-item__services(data-mh="price-item-services-equal")
						ul
							li Competition Analysis Methods
							li All Ranked URLs
							li International Support System
							li Competition Analysis Methods
					.price-item__button
						a(href="#" alt="" title="").site-button.site-button--min.site-button--grey
							span choose plan
			.price__item.price-item
				.price-item__head
					.price-item__title(data-mh="price-item-title-equal")
						span business
					.price-item__rate.price-item-rate.icon-style.icon-style--big.icon-style--white
						.price-item-rate__inner
							.price-item-rate__val
								span $19
							.price-item-rate__text
								span per month
				.price-item__body
					.price-item__services(data-mh="price-item-services-equal")
						ul
							li Competition Analysis Methods
							li All Ranked URLs
							li International Support System
							li Competition Analysis Methods
					.price-item__button
						a(href="#" alt="" title="").site-button.site-button--min.site-button--grey
							span choose plan



//end price
