//services
.services
	.services__inner
		.services__content.services-content
			h3.services__title.section-title-medium.section-title-medium--white.border-title-right
				span our services
			.services-content__slider.swiper-container
				.services-content__list.swiper-wrapper
					.services-content__slide.services-content-item.swiper-slide
						.services-content__item
							.services-content__title web design
							.services-content__text.text-content Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						.services-content__item
							.services-content__title print design
							.services-content__text.text-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.
						.services-content__item
							.services-content__title photography
							.services-content__text.text-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.

					.services-content__slide.services-content-item.swiper-slide
						.services-content__item
							.services-content__title frontend development
							.services-content__text.text-content Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						.services-content__item
							.services-content__title backend development
							.services-content__text.text-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.
						.services-content__item
							.services-content__title react native
							.services-content__text.text-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.

					.services-content__slide.services-content-item.swiper-slide
						.services-content__item
							.services-content__title copyright
							.services-content__text.text-content Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						.services-content__item
							.services-content__title social media
							.services-content__text.text-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.
						.services-content__item
							.services-content__title marketing
							.services-content__text.text-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.


			.services-content__pagination
				#js-services__pagination.swiper-pagination-vertical

		.services__image.services-image
			.services-image__slider.swiper-container
				.services-image__list.swiper-wrapper
					.services-image__item.swiper-slide(style="background-image: url('./img/content/service-image_1.jpg')")
					.services-image__item.swiper-slide(style="background-image: url('./img/content/service-image_2.jpg')")
					.services-image__item.swiper-slide(style="background-image: url('./img/content/service-image_3.jpg')")
//end services
