//services
.services
	.services__inner
		.services__content.services-content
			h3.services-content__title.section-title-medium.section-title-medium--white.border-title-right
				span our services
			.services-content-slider.swiper-container
				.services-content-slider-list.swiper-wrapper
					.services-content-slider-list-item.swiper-slide
						.services-item
							.services-item__title
								span web design
							.services-item__text.text-content
								span Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						.services-item
							.services-item__title
								span print design
							.services-item__text.text-content
								span Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.
						.services-item
							.services-item__title
								span photography
							.services-item__text.text-content
								span Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.

					.services-content-slider-list-item.swiper-slide
						.services-item
							.services-item__title
								span frontend development
							.services-item__text.text-content
								span Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						.services-item
							.services-item__title
								span backend development
							.services-item__text.text-content
								span Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.
						.services-item
							.services-item__title
								span react native
							.services-item__text.text-content
								span Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.
					.services-content-slider-list-item.swiper-slide
						.services-item
							.services-item__title
								span copyright
							.services-item__text.text-content
								span Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.
						.services-item
							.services-item__title
								span social media
							.services-item__text.text-content
								span Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.
						.services-item
							.services-item__title
								span marketing
							.services-item__text.text-content
								span Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.
			.services-content-slider-pagination
				#js-services-content-slider-pagination.swiper-pagination-vertical

		.services-image
			.services-image-slider.swiper-container
				.services-image-slider-list.swiper-wrapper
					.services-image-slider-list-item.swiper-slide(style="background-image: url('./img/content/service-image_1.jpg')")
					.services-image-slider-list-item.swiper-slide(style="background-image: url('./img/content/service-image_2.jpg')")
					.services-image-slider-list-item.swiper-slide(style="background-image: url('./img/content/service-image_3.jpg')")
//end services
