//stats
.stats(style="background-image: url('./img/content/stats_bg.jpg')").parallaxie
	.page-frame
		.stats__inner.stats-inner
			.stats__item.stats-item
				.stats-item__icon(style="background-image: url('./img/icons/stats_icon-1.png')")
				.stats-item__content
					.stats-item__count
						span 3891
					.stats-item__text
						span User Favourites
			.stats__item.stats-item
				.stats-item__icon(style="background-image: url('./img/icons/stats_icon-2.png')")
				.stats-item__content
					.stats-item__count
						span 281K
					.stats-item__text
						span Posts Last 24 Hours
			.stats__item.stats-item
				.stats-item__icon(style="background-image: url('./img/icons/stats_icon-3.png')")
				.stats-item__content
					.stats-item__count
						span 618
					.stats-item__text
						span Total Posts
			.stats__item.stats-item
				.stats-item__icon(style="background-image: url('./img/icons/stats_icon-4.png')")
				.stats-item__content
					.stats-item__count
						span 178
					.stats-item__text
						span Campaigns
			.stats__item.stats-item
				.stats-item__icon(style="background-image: url('./img/icons/stats_icon-5.png')")
				.stats-item__content
					.stats-item__count
						span 285
					.stats-item__text
						span Amazing Features
//end stats
