//stats
.stats(style="background-image: url('./img/content/stats_bg.jpg')").parallaxie
	.page-frame
		.stats__inner
			.stats__item
				.stats__icon(style="background-image: url('./img/icons/stats_icon-1.png')")
				.stats__content
					.stats__count 3891
					.stats__text User Favourites
			.stats__item
				.stats__icon(style="background-image: url('./img/icons/stats_icon-2.png')")
				.stats__content
					.stats__count 281K
					.stats__text Posts Last 24 Hours
			.stats__item
				.stats__icon(style="background-image: url('./img/icons/stats_icon-3.png')")
				.stats__content
					.stats__count 618
					.stats__text Total Posts
			.stats__item
				.stats__icon(style="background-image: url('./img/icons/stats_icon-4.png')")
				.stats__content
					.stats__count 178
					.stats__text Campaigns
			.stats__item
				.stats__icon(style="background-image: url('./img/icons/stats_icon-5.png')")
				.stats__content
					.stats__count 285
					.stats__text Amazing Features
//end stats
