//study
.study
	.page-frame
		.section-head
			h3.section-head__title.section-title-medium
				span case study
			.section-head__text.decorate-text-border.decorate-text-border--grey
				span A brief story about how this process works, keep an eye till the end.
		.study-frame
			.study-slider-wrapper
				.study-slider.swiper-container
					.study-slider-list.swiper-wrapper
						.study-slider-list-item.swiper-slide
							.study__icon(style="background-image: url('./img/icons/study_icon.png')")
							.study__title
								span Accumulate Creative Ideas
							.study__text.text-content
								span Lorem Ipsum is simply dummy text of the printing and typesettng let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.
							.study-button
								a(href="#" alt="" title="").site-button.site-button--min.site-button--red
									span read more


						.study-slider-list-item.swiper-slide
							.study__icon(style="background-image: url('./img/icons/study_icon.png')")
							.study__title
								span Accumulate Creative Ideas
							.study__text.text-content
								span Lorem Ipsum is simply dummy text of the printing and typesettng let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.
							.study-button
								a(href="#" alt="" title="").site-button.site-button--min.site-button--red
									span read more

						.study-slider-list-item.swiper-slide
							.study__icon(style="background-image: url('./img/icons/study_icon.png')")
							.study__title
								span Accumulate Creative Ideas
							.study__text.text-content
								span Lorem Ipsum is simply dummy text of the printing and typesettng let. Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the setting let.
							.study-button
								a(href="#" alt="" title="").site-button.site-button--min.site-button--red
									span read more
				.study-slider-pagination
					#js-study-slider-pagination.swiper-pagination-horizontal
//end study
