//team

.team(style="background-image: url('./img/content/team_bg.jpg')")
	.page-frame
		.section-head
			h3.section-head__title.section-title-medium.section-title-medium--white
				span recent works
			.section-head__text.decorate-text-border.decorate-text-border--white
				span It has survived not only five centuries, but also the leap scrambled it to make a type.
	.team__list.team-list
		.page-frame
			.team-list__inner
				.team-list__item.team-list-item#team-1
					.team-list-item__image
						img(src="./img/content/team_1.jpg" alt="" title="")
				.team-list__item.team-list-item#tree
					.team-list-item__image
						img(src="./img/content/team_2.jpg" alt="" title="")
				.team-list__item.team-list-item#team-2
					.team-list-item__image
						img(src="./img/content/team_3.jpg" alt="" title="")
				.team-list__item.team-list-item#team-3
					.team-list-item__image
						img(src="./img/content/team_5.jpg" alt="" title="")
				.team-list__item.team-list-item#team-4
					.team-list-item__image
						img(src="./img/content/team_1.jpg" alt="" title="")

	.team__curve
		svg#curveLine(xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 1920 652')
			defs
			g#line
				path(d='M1,513.99964v0c0, 0 617.49996, -279.61271 1093.9999, -169.00002c476.50005, 110.61201 813.50006,-292.17005 828.00007,-342.0001', fill-opacity='0', fill='#ffffff',  stroke='#e74c3c', stroke-width='3')

			g(opacity='0.1')#bg
				path(d='M1922.99997,2.99952c-14.50001,49.83004 -351.50002,452.61211 -828.00007,342.0001c-476.49994,-110.61269 -1093.9999,169.00002 -1093.9999,169.00002v0v137.49941v0h1920v0c0,0 16.49998,-698.33025 1.99997,-648.49953z', fill='#e74c3c', fill-opacity='1')


//end team
