//team

.team(style="background-image: url('./img/content/team_bg.jpg')")
	.page-frame
		.section-head
			h3.section-head__title.section-title-medium.section-title-medium--white recent works
			.section-head__text.decorate-text-border.decorate-text-border--white
				span It has survived not only five centuries, but also the leap scrambled it to make a type.
	.team__list
		.page-frame
			.team__inner
				.team__item
					.team__image
						img(src="./img/content/team_1.jpg" alt="" title="")
					.team__detail
						.team__name.equal Kazi Erfan
						.team__position UI/UX Designer
				.team__item
					.team__image
						img(src="./img/content/team_2.jpg" alt="" title="")
					.team__detail
						.team__name.equal Kazi Erfan
						.team__position UI/UX Designer
				.team__item
					.team__image
						img(src="./img/content/team_3.jpg" alt="" title="")
					.team__detail
						.team__name.equal Kazi Erfan
						.team__position UI/UX Designer
				.team__item
					.team__image
						img(src="./img/content/team_5.jpg" alt="" title="")
					.team__detail
						.team__name.equal Kazi Erfan
						.team__position UI/UX Designer
				.team__item
					.team__image
						img(src="./img/content/team_1.jpg" alt="" title="")
					.team__detail
						.team__name.equal Kazi Erfan
						.team__position UI/UX Designer

//end team
