//top-block
.top-block
	.header-wrapper
		.header.header(role="banner").js-fixed-header
			.page-frame
				a(href="#home" alt="").logo
					img(src="./img/logo.png" title="logo" alt="logo")
				//nav
				nav.nav(role="navigation")
					ul.nav__list
						li.nav__item.active
							a.nav__link(href="#home" title="") home
						li.nav__item
							a.nav__link(href="#about" title="") about
						li.nav__item
							a.nav__link(href="#portfolio" title="") portfolio
						li.nav__item
							a.nav__link(href="#pricing" title="") pricing
						li.nav__item
							a.nav__link(href="#team" title="") team
						li.nav__item
							a.nav__link(href="#blog" title="") blog
						li.nav__item
							a.nav__link(href="#contact" title="") contact
			//end nav

	//top slider
	.top-slider.swiper-container
		.top-slider__list.swiper-wrapper
			.top-slider__item.swiper-slide
				.page-frame
					.top-slider__top Our Clients Are Our First Priority
					.top-slider__title.decorate-text-border.decorate-text-border--white welcome to bino
					.top-slider__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					.top-slider__buttons
						a(href="#" title="" alt="").site-button.site-button--red
							span get started now
						a(href="#" title="" alt="").site-button.site-button--white-border
							span learn more
			.top-slider__item.swiper-slide
				.page-frame
					.top-slider__top Our Clients Are Our First Priority
					.top-slider__title.decorate-text-border.decorate-text-border--white welcome to bino
					.top-slider__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					.top-slider__buttons
						a(href="#" title="" alt="").site-button.site-button--red
							span get started now
						a(href="#" title="" alt="").site-button.site-button--white-border
							span learn more
			.top-slider__item.swiper-slide
				.page-frame
					.top-slider__top Our Clients Are Our First Priority
					.top-slider__title.decorate-text-border.decorate-text-border--white welcome to bino
					.top-slider__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					.top-slider__buttons
						a(href="#" title="" alt="").site-button.site-button--red
							span get started now
						a(href="#" title="" alt="").site-button.site-button--white-border
							span learn more


		.top-slider__next.slider-button.slider-button__next
		.top-slider__prev.slider-button.slider-button__prev
	//end top slider
//end top-block
